
body{
    font-family: 'Libre Baskerville', serif !important;
}
.main-color{
    color: #0737bd !important;
}
.main-colorbg{
    background-color: #0737bd !important;
}
nav ul li a:hover{
    color: #0737bd !important;
    font-weight: bold;
}
/* Hero section */
.parallax{
    background: url(../img/bg-img2.webp) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.view-btn:hover{
    color: white !important;
    background-color: #0737bd !important;
    border: none !important;
}

@media screen and (min-width:768px){
    #post-form{
        width: 70% !important;
    }
}
